params {
    // =====================================================
    // INPUT & ENVIRONMENT
    // =====================================================
    input_type       = 'bam'      // ubam | bam
    samplesheet      = null
    singularity_path = null
    outfolder        = 'results'
    runID            = "${new Date().format('yyyyMMdd')}"

    // =====================================================
    // DEEPVARIANT
    // =====================================================

    gpus=0                      // Set 0 for CPU mode, 1 for GPU mode

    // =====================================================
    // REFERENCES
    // =====================================================
    fasta            = null
    fasta_dir        = null
    bed              = null
    seq_type         = "PACBIO"        // PACBIO,ONT_R104
    // =====================================================
    // ANNOTATIONS
    // =====================================================
    annotate = false
    vep_cache       = null
    cache_version   = 115
    clinvar         = null
    dbnsfp          = null
    spliceai_distance = 50


}

// =====================================================
// PROFILES
// =====================================================
profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        runOptions = '--bind /dev/shm'
        
        process {
            executor      = 'local'
            errorStrategy = 'terminate'
            maxRetries    = 1

            // Container Assignments
            withLabel: 'qc'        { container = "${params.singularity_path}/qc.sif" }
            withLabel: 'core'      { container = "${params.singularity_path}/core.sif" }
            withLabel: 'vep'     { container = "${params.singularity_path}/vep115.sif" }
            withLabel: 'spliceAI'     { container = "${params.singularity_path}/spliceAI.sif" }
            withLabel: 'glnexus'     { container = "${params.singularity_path}/glnexus.sif" }
            withLabel: "deepvariant" { container = "${params.singularity_path}/deepvariant.sif" }
            withLabel: 'deepvariant_gpu' {
                    container = "${params.singularity_path}/deepvariant_gpu.sif"
                    containerOptions = "--nv"
                    accelerator = 1
                }            
            // Resource Assignments
            withLabel: 'tiny'    { cpus = 1;  memory = 2.GB;   time = '1h'  }
            withLabel: 'small'   { cpus = 2;  memory = 6.GB;   time = '4h'  }
            withLabel: 'medium'  { cpus = 4;  memory = 16.GB;  time = '12h' }
            withLabel: 'large'   { cpus = 8;  memory = 32.GB;  time = '24h' }
            withLabel: 'xlarge'  { cpus = 16; memory = 64.GB;  time = '36h' }
            withLabel: 'xxlarge' { cpus = 36; memory = 128.GB; time = '48h' }
        }
    }
}

// =====================================================
// REPORTING
// =====================================================
def log_reports = "${params.outfolder}/${params.runID}/logs"

timeline {
    enabled   = true
    file      = "${log_reports}/execution_timeline.html"
    overwrite = true
}
report {
    enabled   = true
    file      = "${log_reports}/execution_report.html"
    overwrite = true
}
trace {
    enabled   = true
    file      = "${log_reports}/execution_trace.txt"
    overwrite = true
}
dag {
    enabled   = true
    file      = "${log_reports}/pipeline_dag.html"
    overwrite = true
}